# SENTIMENT ANALYSIS OF COVID 19 TWEETS

### Taarussh Wadhwa - 18BIT0312
### Madhav Rajesh - 18BIT0325

In [92]:
# %load_ext autoreload
%autoreload
from DataPreprocessing.Lemmatizer import *
from DataPreprocessing.Stemming import *
from DataPreprocessing.Stopwords import *
from DataPreprocessing.Tokenization import *
from DataPreprocessing.RemovePuctuations import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [103]:
df = pd.read_csv('tweet_dataset.csv')
df.head()

C:\Users\fcc\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,6,7,9,10,11,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,usernameTweet,ID,text,url,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet,user_id,has_media,medias,Unnamed: 14,Unnamed: 15
0,0,rj_ashwin,1.243960e+18,"Sabse Pehle toh Majdur , Labour Class, Work...",/rj_ashwin/status/1243959777266286593,0,1,0,2020-03-28 23:24:57,False,False,2898096642,NaN,NaN,NaN,NaN
1,1,vikramsoni232,1.244163e+18,@ TajinderBagga Bhaiya i proud of you. You...,/vikramsoni232/status/1244163016012075008,0,0,0,2020-03-29 12:52:33,False,False,291596567,NaN,NaN,NaN,NaN
2,2,ABHISHE33329022,1.244291e+18,Mam India mein hum ko company's ki audit krn...,/ABHISHE33329022/status/1244290847236972544,0,0,0,2020-03-29 21:20:30,True,False,1244169861946699776,NaN,NaN,NaN,NaN
3,3,hindust74474485,1.253172e+18,Videsh me rahne wale Bhai India laye Gaye bu...,/hindust74474485/status/1253171675081904129,0,0,0,2020-04-23 09:29:44,False,False,1252876822687019009,NaN,NaN,NaN,NaN
4,4,KumarSa61420257,1.254602e+18,Akhir bhojh ban gaye na bihari pure India pe...,/KumarSa61420257/status/1254602420426063872,0,0,0,2020-04-27 08:15:01,False,False,991231687341195266,NaN,NaN,NaN,NaN

In [104]:
df_clean = df.drop(['Unnamed: 0','Unnamed: 14','Unnamed: 15','medias','has_media','user_id','url','ID'], axis=1)
df_clean.rename(columns={'text':'Tweets'}, inplace=True)
print(df_clean.shape)
df_clean.head()

(74809, 8)

,usernameTweet,Tweets,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet
0,rj_ashwin,"Sabse Pehle toh Majdur , Labour Class, Work...",0,1,0,2020-03-28 23:24:57,False,False
1,vikramsoni232,@ TajinderBagga Bhaiya i proud of you. You...,0,0,0,2020-03-29 12:52:33,False,False
2,ABHISHE33329022,Mam India mein hum ko company's ki audit krn...,0,0,0,2020-03-29 21:20:30,True,False
3,hindust74474485,Videsh me rahne wale Bhai India laye Gaye bu...,0,0,0,2020-04-23 09:29:44,False,False
4,KumarSa61420257,Akhir bhojh ban gaye na bihari pure India pe...,0,0,0,2020-04-27 08:15:01,False,False

In [105]:
# converting to datetime object and dropping unnecessary values

from datetime import datetime 

for i in range(0, 53676):
    datetime_str = df_clean.datetime[i]
    df_clean.datetime[i] = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')
    
count=[]
for i in range(53676, df_clean.shape[0]):
    try:
        datetime_str = df_clean.datetime[i]
        df_clean.datetime[i] = datetime.strptime(datetime_str, '%m/%d/%Y %H:%M')
    except ValueError:
        count.append(i)
#print(count)
df_clean.drop(count, inplace=True)

In [107]:
df_clean['Tweets'] = remove_punc_apply(df_clean['Tweets']) # Removing Punctuations

In [108]:
df_clean['Tweets'] = tokenization_apply(df_clean['Tweets']) # Tokenizing words

In [109]:
df_clean['Tweets'] = remove_stopwords_apply(df_clean['Tweets']) # Removing Stopwords

In [110]:
df_clean['Tweets'] = stemming_apply(df_clean['Tweets']) # Stemming Tweets

In [111]:
df_clean['Tweets'] = lemmatizing_apply(df_clean['Tweets']) # Lemmatizing Tweets

In [112]:
df_clean.head()

,usernameTweet,Tweets,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet
0,rj_ashwin,"[sabs, pehl, toh, majdur, labour, class, worke...",0,1,0,2020-03-28 23:24:57,False,False
1,vikramsoni232,"[, tajinderbagga, bhaiya, proud, real, hero, d...",0,0,0,2020-03-29 12:52:33,False,False
2,ABHISHE33329022,"[mam, mein, hum, ko, compani, ki, audit, krni,...",0,0,0,2020-03-29 21:20:30,True,False
3,hindust74474485,"[videsh, rahn, wale, bhai, lay, gay, jo, log, ...",0,0,0,2020-04-23 09:29:44,False,False
4,KumarSa61420257,"[akhir, bhojh, ban, gay, na, bihari, pure, pe,...",0,0,0,2020-04-27 08:15:01,False,False

In [113]:
df_clean.to_csv('TokenizedData.csv')